<button class="blue-centered" routerLink="/login">Login</button>
<button class="blue-centered" (click)="logout()">Logout</button>

<h1>Webbit</h1>
<blockquote>The web side of the internet</blockquote>

<!-- Navigeringsmeny -->
<nav>
    <ul>
        <div class="wrapper">
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/search">Search</a>
            </li>
            <li>
                <a routerLink="/admin">Admin</a>
            </li>
        </div>
    </ul>
</nav>