<app-header></app-header>

<section class="wrapper" *ngIf="post">

  <!-- Nästlad navigering -->
  <nav class="breadcrumbs">
    <ul>
      <li><a routerLink='/'>categories</a></li>
      <li><a routerLink='/category/{{post.category._id}}'>{{post.category.name}}</a></li>
      <li><b>{{post.title}}</b></li>
    </ul>
  </nav>

  <h2>{{post.title}}</h2>
    <!-- Hämtar inlägg -->
    <div class="op">
      <p class="user"><b><a routerLink="/user/{{post.user._id}}">{{post.user.username}}</a></b> {{post.publishedDate | date:'yyyy-MM-dd HH:mm' }} (edited {{post.editedDate | date:'dd MMMM yyyy HH:mm' }})</p>
        
      <p>{{post.content}}</p>
      <!-- Navigera för att redigera inlägget -->
      <button class="edit" routerLink="/post/{{post._id}}/edit">Edit</button>
      <!-- Navigera för att kommentera inlägget -->
      <button class="blue-centered" routerLink="/post/{{post._id}}/comment">Comment</button>
    </div>

    <!-- Hämtar alla kommentarer till inlägget -->
    <div *ngFor="let comment of comments" class="comment">
      <p class="user"><b><a routerLink="/user/{{comment.user._id}}">{{comment.user.username}}</a></b> {{comment.publishedDate | date:'yyyy-MM-dd HH:mm' }} (edited {{comment.editedDate  | date:'yyyy-MM-dd HH:mm'}})</p>
      <p>{{comment.content}}</p>
      <!-- Navigera för att redigera kommentaren -->
      <button class="edit" routerLink="/post/{{comment._id}}/edit">Edit</button>
    </div>

  </section>